#logo_pagina {
  margin-left: 10px;
  width: 70px;
}

.icon-favorito {
  float: right;
}
.navbar-collapse.collapse.in {
  display: block !important;
}
.autocom-box:not(:focus) {
  color: rgb(0, 0, 0);
  position: absolute;
  top: 35px;
  left: 49px;
  list-style: none;
  width: 461px;
  z-index: 5;
  background-color: rgba(251, 251, 251, 0.95);
  display: none;
}
