#logo_pagina {
  margin-left: 10px;
  width: 70px;
}

.icon-favorito {
  float: right;
  margin-bottom: 10px;
}

.icon-favorito-forecast{
  margin-top: 10px;
}
.navbar-collapse.collapse.in {
  display: block !important;
}

#icon-barra-pesquisa{
  width: 25px;
}
#textbox{
  width: 200px;
}
#barraPesquisa{
  width: 300px;
}
.btn.btn-primary.dropdown-toggle{
    margin-left: 10px !important;
}
.lista-6-cidades, .lista-forecast, .lista-forecast3h{
  background-color: #8ab4df !important;
  margin: 40px;
  border: 3px solid black;
}
h2{
  margin-top: 12px;
}
.navbar-brand{
  font-size: 30px;
  
}

.table, #forecast, #detalhes {
  margin: auto;
  width: 50% !important; 
}
.temp-max{
  color:rgb(209, 157, 59);
}
.temp-min{
  color:rgb(50, 59, 161);
}
.humidade{
  display: inline;
}
.autocom-box {
  color: rgb(0, 0, 0);
  position: absolute;
  top: 40px;
  width: 200px;
  z-index: 5;
  background-color: white;
  display: none;
  border: 3px solid black;
  font-size: 17px;
  
}
.autocom-box ul{
  padding: 0;
 
  list-style: none;
}
.autocom-box ul li{
  padding: 5px 0;
}
.autocom-box ul li:hover {
  background: rgb(149, 158, 238);
}