#logo_pagina {
  margin-left: 10px;
  width: 70px;
}

.icon-favorito {
  float: right;
}
.navbar-collapse.collapse.in {
  display: block !important;
}
#icon-barra-pesquisa{
    width: 25px;
}

.btn.btn-primary.dropdown-toggle{
    margin-left: 10px !important;
}